.skills-container {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}


.skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 0.5rem;
}

.skill-name {
    width: 120px;
    font-weight: bold;
}

.skill-bar {
    flex: 1;
    display: flex;
    /*background: #dbdbdb; /*#333;*/
    border-radius: 25px;
    border: 1px solid #111111; /*TODO*/
    overflow: hidden;
    height: 25px;
}

/*Usually: 6: 100, 5.5: 92, 5: 83, 4.5: 75, 4: 67, 3.5: 58, 3: 50, 2.5: 42, 2: 33, 1.5: 25, 1: 17, 0.5: 8*/
.skill-fill {
    height: 100%;
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
    background-color: crimson;
}

.skill-subcaption {
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #111;
}

/* Skill colors, optional and not implemented */
/* <div class="skill-fill <tag here>" .... */

/* ========== Programming Languages ========== */
.c { background: #555555; color: white; }
.cpp { background: #f34b7d; color: white; }
.go { background: #00ADD8; color: white; }
.java { background: #b07219; color: white; }
.python { background: #3572A5; color: white; }
.shell { background: #89e051; color: black; }

/* ========== Skripting ========== */
.css { background: #563d7c; color: white; }
.html { background: #e34c26; color: white; }
.latex { background: #008080; color: white; }
.md { background: #083fa1; color: white; }

/* ========== Database ========== */
.postgres { background: #336791; color: white; }
.sqlite { background: #003b57; color: white; }

/* ========== Other ========== */
.git { background: #f34f29; color: white; }
.github { background: #48228d; color: white; }
.linux { background: #181717; color: white; }
.notion { background: #000000; color: white; }
.tor { background: #6441a4; color: white; }

/* ========== Microsoft Office ========== */
.excel { background: #217346; color: white; }
.powerpoint { background: #d24726; color: white; }
.onenote { background: #7719aa; color: white; }




/* ========== Languages ========== */
.english {
    background: linear-gradient(
        90deg,
        #012169,
        #ffffff,
        #c8102e
    );
    color: #000;
}

.norwegian {
    background: linear-gradient(
        90deg,
        #ffffff,
        #ba0c2f
    );
    color: #000;
}

.french {
    background: linear-gradient(
        90deg,
        #0055a4,
        #ffffff,
        #c8102e
    );
    color: #000;
}

.german {
    background: linear-gradient(
        90deg,
        #000000,
        #b11226,
        #f2a900 
    );
}
